VITE_URL_API =  'http://localhost:4003'
VITE_URL_API_CORREIOS = 'https://viacep.com.br/ws'
VITE_URL_API_ADZUNA = 'https://api.adzuna.com/v1/api/jobs/br/search'
VITE_ID_API_ADZUNA = 'secret'
VITE_SECRET_API_ADZUNA = 'secret'